<?php
/**
 * CakePHP(tm) : Rapid Development Framework (https://cakephp.org)
 * Copyright (c) Cake Software Foundation, Inc. (https://cakefoundation.org)
 *
 * Licensed under The MIT License
 * For full copyright and license information, please see the LICENSE.txt
 * Redistributions of files must retain the above copyright notice.
 *
 * @copyright     Copyright (c) Cake Software Foundation, Inc. (https://cakefoundation.org)
 * @link          https://cakephp.org CakePHP(tm) Project
 * @since         0.10.0
 * @license       https://opensource.org/licenses/mit-license.php MIT License
 */
?>
<div class="top_nav">
	<div class="nav_menu">
		<nav>
			<div class="nav toggle"><a id="menu_toggle"><i class="fa fa-bars"></i></a></div>

			<ul class="nav navbar-nav navbar-right">
				<li class="">
					<a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
						<img src="<?=($this->request->params['loginUser']['image'])? $this->request->params['loginUser']['image']: '/images/user.png'?>" alt="">
						<?=$this->request->params['loginUser']['firstname'] . ' ' .$this->request->params['loginUser']['lastname']?>
						<span class=" fa fa-angle-down"></span>
					</a>
					<ul class="dropdown-menu dropdown-usermenu pull-right">
						<li><a href="/mypage/login/logout"><i class="fa fa-sign-out pull-right"></i> ログアウト</a></li>
					</ul>
				</li>

				<li role="presentation" class="dropdown">
					<a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
						<i class="fa fa-envelope-o"></i>
						<span class="badge bg-green">6</span>
					</a>
					<ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
						<li>
							<a>
								<span class="image"><img src="/images/img.jpg" alt="Profile Image" /></span>
								<span>
									<span>福岡 二郎</span>
									<span class="time">3 分前</span>
								</span>
								<span class="message">昨日はありがとうございました。おかげて悩みが解決しそうです。また迷ったときは...</span>
							</a>
						</li>
						<li>
							<a>
								<span class="image"><img src="/images/img.jpg" alt="Profile Image" /></span>
								<span>
									<span>福岡 二郎</span>
									<span class="time">3 分前</span>
								</span>
								<span class="message">昨日はありがとうございました。おかげて悩みが解決しそうです。また迷ったときは...</span>
							</a>
						</li>
					</ul>
				</li>
			</ul>
		</nav>
	</div>
</div>	