<?php
/**
 * CakePHP(tm) : Rapid Development Framework (https://cakephp.org)
 * Copyright (c) Cake Software Foundation, Inc. (https://cakefoundation.org)
 *
 * Licensed under The MIT License
 * For full copyright and license information, please see the LICENSE.txt
 * Redistributions of files must retain the above copyright notice.
 *
 * @copyright     Copyright (c) Cake Software Foundation, Inc. (https://cakefoundation.org)
 * @link          https://cakephp.org CakePHP(tm) Project
 * @since         0.10.0
 * @license       https://opensource.org/licenses/mit-license.php MIT License
 */
?>
						<div class="col-md-12 col-sm-12 col-xs-12 text-center">
							<ul class="pagination pagination-split">
								<?= $this->Paginator->prev('<< ' . __('prev')); ?>
								<?= $this->Paginator->numbers(); ?>
								<?= $this->Paginator->next(__('next') . ' >>'); ?>
							</ul>
						</div>

						<div class="clearfix"></div>